db_name = "recipen"
categories = ["Entrée", "Plat principal", "Dessert", "Accompagnements", "Base", "Biscuits & Friandises",
              "Pain & Viennoiserie", "Divers"]
site_name = "Recipen"
locale = "fr"
timezone = "Europe/Paris"

# PLEASE FILL MAIL SETTINGS TO MAKE REGISTER PAGE WORKING
mail = {
    "server": "",
    "username": "",
    "from": "",
    "password": "",
    "port": 587
}
