DB_NAME = "recipen"
CATEGORIES = ["Entrée", "Plat principal", "Dessert", "Accompagnements", "Base", "Biscuits & Friandises",
              "Pain & Viennoiserie", "Divers"]
SITE_NAME = "Recipen"
LOCALE = "en"
TIMEZONE = "Europe/Paris"

MAIL = {
    "server": "",
    "username": "",
    "from": "",
    "password": "",
    "port": 587
}

PASSWORD_HASH_ROUNDS = 12
