{% extends "basis.html" %}

{% block appbody %}
      <v-app-bar
        absolute
        color="#43a047"
        shrink-on-scroll
        prominent
        src="https://picsum.photos/1920/1080?random"
{#        fade-img-on-scroll#}
        scroll-target="#scrolling-techniques-5"
        scroll-threshold="500"
      >
        <template v-slot:img="{ props }">
          <v-img
            v-bind="props"
            gradient="to top right, rgba(55,236,186,.7), rgba(25,32,72,.7)"
          ></v-img>
        </template>

        <v-app-bar-nav-icon></v-app-bar-nav-icon>

        <v-toolbar-title>{{ title }}</v-toolbar-title>

        <div class="flex-grow-1"></div>

        <v-btn icon @click="showHideSearch()">
        <v-icon>mdi-magnify</v-icon>
      </v-btn><v-text-field :color="searchFieldColor" v-show="search" ref="search" id="search" @keydown.esc="showHideSearch()"
        @keydown.enter="launchSearch()" v-model="searchText" @blur="searchBoxBlur()" @focus="searchLaunched=false"></v-text-field>
      </v-app-bar>
      <v-sheet
        id="scrolling-techniques-5"
        class="overflow-y-auto"
        max-height="100vh"
        min-height="100%"
        style="background: none"
      >
        <v-container style="padding-top: 117px; display: table; padding-left: 0; margin-left: 0; margin-right: 0;" fill-height>
{#            <div style="width: 260px; display: table-cell; vertical-align: top; height: 100%;">#}
            {% block bodycontent %}
            {% endblock %}
        </v-container>
      </v-sheet>
{% endblock %}